	<div class="container-fluid" id="contact">
			<div class="Big_contact"> 
				<div class="header-contact">
					<h1>Do you want to get in touch?</h1>
					<div class="intro">
						<h2>Let's get in contact for any business inquiries</h2>
						<p>How to reach out to me:</p>
					</div><!-- end intro -->
				</div><!-- end header -->			  
				<div class="row">
					<div class="col-md-6 col-sm-6 col-xs-12 extra">
						<h3><span class="glyphicon glyphicon-user"></span> Social Media</h3>
						<p>Contact me via LinkedIn:</p>
						<ul>
							<li><a href="www.linkedin.com/in/raphael-simon21">LinkedIn</a></li>
						</ul> <!-- contact-list -->
					</div>
					<div class="col-md-6 col-sm-6 col-xs-12 extra">
						<h3><span class="glyphicon glyphicon-th-list"></span> Private Adress</h3>
						<ul>							
							<li>In den Bruchwiesen 4</li>
							<li>66773 Schwalbach/Saar</li>
							<li>Phone: 0160 / 404105</li>
							<li>E-Mail:<a href="mailto:raphael.simon@myebs.de">raphael.simon@myebs.de</a></li>
						</ul>				 
					</div>
				</div>		  
			</div><!-- end big_contact -->
		</div>	 
