
  <%= yield %>
  
        <h1><br>Welcome to the Fanshop of Don Vito</h1>
        <h2>Your source for "the Godfather" Merchandise in Corleone</h2>
        <%= image_tag("vito.jpg", class: "img-responsive my-image") %>

